
baze/knjiznica.sql
baze/mjesta.sql
baze/mysqlsampledatabase.sql
baze/sakila.sql
baze/world.sql
.project
Scripts/Script.sql
.dbeaver/project-metadata.json
.dbeaver/data-sources.json
.dbeaver/credentials-config.json
